<!DOCTYPE html>
<section>
    <br/>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="carousel slide" id="carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel">
                    </li>
                    <li data-slide-to="1" data-target="#carousel">
                    </li>
                    <li data-slide-to="2" data-target="#carousel">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="carouselImage" alt="Carousel Padel First" src="img/home/hotel1.jpg"/>
                    </div>
                    <div class="item">
                        <img class="carouselImage" alt="Carousel Padel Second" src="img/home/hotel2.jpg"/>
                    </div>
                    <div class="item">
                        <img class="carouselImage" alt="Carousel Padel Third" src="img/home/hotel3.jpg"/>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                                href="#carousel"
                                                                                data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <h4 id="pageName">
                Book Rooms
            </h4>
            <p class="textCenter">
                Reseva de habitaciones de hotel por horas
            </p>
        </div>
        <div class="col-md-2">
            <img id="mainLogo" alt="ETSISI Main Icon" src="img/icon.png" class="img-rounded img-responsive"/>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-1">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 columnsContainer">
            <div class="col-md-4">
                <h4 class="columnHeader">
                    Reserva de habitaciones
                </h4>
                <p class="justify">
                    Elige las habitaciones m&aacute;s acordes con tus necesidades, a partir de un listado de hoteles disponibles.
					Nuestras habitaciones son individuales, dobles, triples o suites. En funci&oacute;n del tipo de 
					habitaci&oacute;n, cada una dispone de diferentes servicios como Internet, TV, Jacuzzi o aire acondicionado.
                </p>
                <p class="justify">
                    Tras la elecci&oacute;n, podr&aacute;s reservar cada habitaci&oacute;n durante un n&uacute;mero de horas 
                    determinado, siempre que dicha habitaci&oacute;n se encuentre disponible para reservas. Se acab&oacute; pagar
                    las habitaciones para 24 horas como m&iacute;nimo. Cada cliente y gestor de hotel, reciben una 
                    notificaci&oacute;n v&iacute;a mail de la reserva realizada.
                </p>
                <br/>
                <img alt="hotel4" src="img/home/hotel4.jpg" class="img-rounded img-responsive"/>
            </div>
            <div class="col-md-4">
                <h4 class="columnHeader">
                    Visualizar reservas
                </h4>
                <p class="justify">
                    Desde el men&uacute; principal de la aplicaci&oacute;n, dispones de opciones para visualizar las reservas de 
                    habitaciones realizadas en cada hotel. A partir de ahora, el gestor de cada hotel tendr&aacute; de primera 
                    mano el porcentaje de ocupaci&oacute;n de cada hotel, de cada a su administraci&oacute;n.
                </p>
                <p class="justify">
                    Tambi&eacute;n, cada cliente que quiera reservar una habitaci&oacute;n, tendr&aacute; la posibilidad de ver 
                    este listado y contrastar si se han realizado m&aacute;s reservas de habitaciones, pudiendo analizar la 
                    popularidad del mismo.
                </p>
                <img alt="hotel6" src="img/home/hotel6.jpg" class="img-rounded img-responsive"/>
            </div>
            <div class="col-md-4">
                <h4 class="columnHeader">
                    Cancelaci&oacute;n de reservas
                </h4>
                <p class="justify">
                    Desde el men&uacute; principal de la aplicaci&oaute;n, cada cliente dispone de una funcionalidad para 
                    cancelar una reserva realizada. Antes de realizar una cancelaci&oacute;n, se aconseja revisar la 
                    pol&iacute;tica de cancelaci&oacute;n de reservas de cada hotel, ya que cada uno decide la 
                    penalizaci&oacute;n que aplica a cada cliente, tras cancelaci&oacute;n.
                </p>
                <p class="justify">
                    Al igual que el cliente, un gestor de hotel por causas de fuerza mayor, puede cancelar una reserva. En todos 
                    los casos de cancelaci&oacute;n de reserva, el cliente y el gestor del hotel reciben una notificaci&oacute;n 
                    de la cancelaci&oacute;n. Gracias a esta funcionalidad, el cliente puede realizar r&aacute;pidamente una 
                    reserva en otro hotel pr&oacute;ximo.
                </p>
                <br/>
                <img alt="ETSISI Padel Class" src="img/home/hotel5.jpg" class="img-rounded img-responsive"/>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <br/>
    <br/>
</section>